@font-face {
   font-family: "Adobe Caslon Pro";
   src: url("fonts/ACaslonPro-Italic.eot") format("embedded-opentype"), url("fonts/ACaslonPro-Italic.otf") format("opentype"), url("fonts/ACaslonPro-Italic.woff") format("woff");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Adobe Caslon Pro";
   src: url("fonts/ACaslonPro-Regular.eot") format("embedded-opentype"), url("fonts/ACaslonPro-Regular.otf") format("opentype"), url("fonts/ACaslonPro-Regular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Adobe Caslon Pro";
   src: url("fonts/ACaslonPro-Semibold.eot") format("embedded-opentype"), url("fonts/ACaslonPro-Semibold.otf") format("opentype"), url("fonts/ACaslonPro-Semibold.woff") format("woff");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Adobe Caslon Pro";
   src: url("fonts/ACaslonPro-SemiboldItalic.eot") format("embedded-opentype"), url("fonts/ACaslonPro-SemiboldItalic.otf") format("opentype"), url("fonts/ACaslonPro-SemiboldItalic.woff") format("woff");
   font-weight: bold;
   font-style: italic;
}